html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.svg-bg {
  width: 100%;
  height: 100vh;
  clip-path: polygon(0 0, 65% 0, 38% 100%, 0% 100%);
}

.hero-text {
  position: absolute;
  right: 10%;
  top: 30%;
  width: 500px;
  height: 300px;
  background: red;
}
