@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Roboto+Condensed|Roboto:300,400,500&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.svg-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  clip-path: polygon(0 0, 63% 0, 29% 100%, 0% 100%);
  z-index: -3;
}

.home-wrapper {
  height: 100vh;
}

.home-wrapper h4,
h3 {
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap !important;
}

.home-wrapper p {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  color: #9e9e9e;
}

.profile-img {
  width: 300px;
  height: auto;
}

.home-text {
  padding-top: 100px !important;
  padding-left: 100px !important;
}

.icons {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .svg-bg {
    position: absolute;
    top: 0;
    height: 40vh;
    clip-path: inset(0 0 0 0);
  }

  .profile-img {
    display: grid;
    margin: auto;
    margin-top: 1rem !important;
    width: 200px;
    height: auto;
  }

  .home-text {
    display: grid;
    padding-top: 3rem !important;
    padding-left: 0 !important;
  }

  .home-wrapper h4,
  .home-wrapper h3,
  .home-wrapper p {
    margin: 0 !important;
  }

  .home-wrapper h3 {
    font-size: 2.1rem;
  }

  .home-wrapper p {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: #9e9e9e;
    padding-top: 1rem !important;
  }

  .icons {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem !important;
  }

  .valign-wrapper {
    display: block !important;
  }
}
